@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
}

.bg-primary {
  background-color: #1b4942;
}

.bg-secondary {
  background-color: #198C6D;
}

.font-primary {
  color: #1b4942;
}

.course-card {
  background-color: #f8faf4;
}